<!-- Open Content -->
<section class="bg-light">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-5 mt-5">
				<div class="card mb-3">
					<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Card image cap" id="product-detail">
				</div>
				<div class="row">
					<!--Start Controls-->
					<div class="col-1 align-self-center">
						<a href="#multi-item-example" role="button" data-bs-slide="prev">
							<i class="text-dark fas fa-chevron-left"></i>
							<span class="sr-only">Previous</span>
						</a>
					</div>
					<!--End Controls-->
					<!--Start Carousel Wrapper-->
					<div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
						data-bs-ride="carousel">
						<!--Start Slides-->
						<div class="carousel-inner product-links-wap" role="listbox">

							<!--First slide-->
							<div class="carousel-item active">
								<div class="row">
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 1">
										</a>
									</div>
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 2">
										</a>
									</div>
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 3">
										</a>
									</div>
								</div>
							</div>
							<!--/.First slide-->

							<!--Second slide-->
							<div class="carousel-item">
								<div class="row">
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 4">
										</a>
									</div>
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 5">
										</a>
									</div>
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 6">
										</a>
									</div>
								</div>
							</div>
							<!--/.Second slide-->

							<!--Third slide-->
							<div class="carousel-item">
								<div class="row">
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 7">
										</a>
									</div>
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 8">
										</a>
									</div>
									<div class="col-4">
										<a href="#">
											<img class="card-img img-fluid" src="img/sach-1.jpg" alt="Product Image 9">
										</a>
									</div>
								</div>
							</div>
							<!--/.Third slide-->
						</div>
						<!--End Slides-->
					</div>
					<!--End Carousel Wrapper-->
					<!--Start Controls-->
					<div class="col-1 align-self-center">
						<a href="#multi-item-example" role="button" data-bs-slide="next">
							<i class="text-dark fas fa-chevron-right"></i>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<!--End Controls-->
				</div>
			</div>
			<!-- col end -->
			<div class="col-lg-7 mt-5">
				<div class="card">
					<div class="card-body">
						<h1 class="h2">SÁCH TOÁN LỚP 1</h1>
						<p class="h3 py-2">20.000đ</p>
						<p class="py-2">
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-secondary"></i>
							<span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
						</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<h6>Loại:</h6>
							</li>
							<li class="list-inline-item">
								<p class="text-muted"><strong>SGK</strong></p>
							</li>
						</ul>

						<h6>Mô tả:</h6>
						<p>Toán lớp 1 là các dạng toán được bố trí thiết kế theo các chủ đề từ cơ bản đến nâng cao
							để các em luyện tập, làm quen với các dạng toán trong lớp 1 để chuẩn bị tốt cho các kỳ
							thi học kỳ, cũng như các kỳ thi học sinh giỏi</p>
						<form action="" method="GET">
							<input type="hidden" name="product-title" value="Activewear">
							<div class="row">
								<div class="col-auto">
									<ul class="list-inline pb-3">
										<li class="list-inline-item text-right">
											Số lượng
											<input type="hidden" name="product-quanity" id="product-quanity" value="1">
										</li>
										<li class="list-inline-item"><span class="btn btn-outline-success"
												id="btn-minus">-</span></li>
										<li class="list-inline-item"><span class="badge bg-secondary"
												id="var-value">1</span></li>
										<li class="list-inline-item"><span class="btn btn-outline-success"
												id="btn-plus">+</span></li>
									</ul>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col d-grid">
									<button type="submit" class="btn btn-outline-success btn-lg" name="submit"
										value="buy">MUA</button>
								</div>
								<div class="col d-grid">
									<button type="submit" class="btn btn-outline-success btn-lg" name="submit"
										value="addtocard">
										<i class="fa fa-fw fa-cart-arrow-down text-outline-success me-2" ng-click="themGioHang(sp)" ></i>THÊM VÀO
										GIỎ
										HÀNG</button>
								</div>
								<br>
								<div class="mt-5">
									<div>
										Gọi đặt hàng: <span class="text-danger">0975 515 950</span> hoặc <span
											class="text-danger">0975 515 940</span></div>

									<div class="text-danger mt-3 md-3">Thông tin & Khuyến mãi</div>
									Đổi trả hàng trong vòng 7 ngày
									<br>
									Mua 10 quyển tặng ngay 1 quyển sách bất kì
									<br>
									Freeship nội thành Sài Gòn từ 150.000đ*. Chi tiết tại đây
									<br>
									Freeship toàn quốc từ 250.000đ
									<br>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Close Content -->

<!-- Start Article -->
<section class="py-5">
	<div class="container">
		<div class="row text-left p-2 pb-3">
			<h4>Related Products</h4>
		</div>

		<!--Start Carousel Wrapper-->
		<div class="carousel slide" id="carouselExampleCaptions">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
			</div>

			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container row">
						<div class="p-2 pb-3 col-md-6 col-lg-4 col-xl-3" ng-repeat="sp in sanPham | filter:keyword |orderBy: sapxep| limitTo:phanTrang.gioiHan:(phanTrang.dangChon-1)*phanTrang.gioiHan">
							<div class="product-wap card rounded-0">
								<div class="card rounded-0">
									<img class="card-img rounded-0 img-fluid" src="{{sp.hinh}}">
									<div
										class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
										<ul class="list-unstyled">
											<li><a class="btn btn-success text-white" href="#!shop-single"><i
														class="far fa-heart"></i></a></li>
											<li><a class="btn btn-success text-white mt-2" href="#!shop-single"><i
														class="far fa-eye"></i></a></li>
											<li><a class="btn btn-success text-white mt-2" ng-click="themGioHang(sp)"><i
														class="fas fa-cart-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="card-body">
									<a href="#!shop-single" class="h3 text-decoration-none">{{sp.ten}}</a>
									<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
										<li>{{sp.hangMuc}}</li>
										<li class="pt-2">
											<span
												class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
										</li>
									</ul>
									<ul class="list-unstyled d-flex justify-content-between mb-1">
										<li>
											<i class="text-warning fa fa-star"></i>
											<i class="text-warning fa fa-star"></i>
											<i class="text-warning fa fa-star"></i>
											<i class="text-muted fa fa-star"></i>
											<i class="text-muted fa fa-star"></i>
										</li>
									</ul>
									<p class="mb-0">{{sp.gia}}đ</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container row">
						<div class="p-2 pb-3 col-md-6 col-lg-4 col-xl-3" ng-repeat="sp in sanPham | filter:keyword |orderBy: sapxep| limitTo:phanTrang.gioiHan:(phanTrang.dangChon-1)*phanTrang.gioiHan">
							<div class="product-wap card rounded-0">
								<div class="card rounded-0">
									<img class="card-img rounded-0 img-fluid" src="{{sp.hinh}}">
									<div
										class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
										<ul class="list-unstyled">
											<li><a class="btn btn-success text-white" href="#!shop-single"><i
														class="far fa-heart"></i></a></li>
											<li><a class="btn btn-success text-white mt-2" href="#!shop-single"><i
														class="far fa-eye"></i></a></li>
											<li><a class="btn btn-success text-white mt-2" href="#!shop-single"><i
														class="fas fa-cart-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="card-body">
									<a href="#!shop-single" class="h3 text-decoration-none">{{sp.ten}}</a>
									<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
										<li>{{sp.hangMuc}}</li>
										<li class="pt-2">
											<span
												class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
											<span
												class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
										</li>
									</ul>
									<ul class="list-unstyled d-flex justify-content-between mb-1">
										<li>
											<i class="text-warning fa fa-star"></i>
											<i class="text-warning fa fa-star"></i>
											<i class="text-warning fa fa-star"></i>
											<i class="text-muted fa fa-star"></i>
											<i class="text-muted fa fa-star"></i>
										</li>
									</ul>
									<p class="mb-0">{{sp.gia}}đ</p>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>


	</div>
</section>
<!-- End Article -->