<!-- Start Content -->
<div class="container py-5" ng-controller="shopCtrl">
	<div class="row">
		<div class="col-lg-3">
			<h1 class="h2 pb-4">THƯ MỤC</h1>
			<div class="accordion" id="accordionExample">
				<div class="pb-3 row">
					<button id="hover-Sidebars"
						class=" collapsed d-flex justify-content-between h3 text-decoration-none border-0 bg-white col-12"
						type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
						aria-controls="collapseOne"> Thể loại <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
					</button>
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<ul class="list-unstyled pl-3 mt-3 mx-3">
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Công nghệ thông
									tin</a></li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Học ngoại ngữ</a>
							</li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Huyền bí - Giả
									tưởng</a></li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Khoa học - Kỹ
									thuật</a></li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Lịch sử - Trính
									trị</a></li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Thể thao - Nghệ
									thuật</a></li>

						</ul>
					</div>
				</div>
				<div class="pb-3 row"> <button
						class="collapsed d-flex justify-content-between h3 text-decoration-none border-0 bg-white col-12"
						type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo"> Mua nhiều
						<i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i> </button>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-bs-parent="#accordionExample">
						<ul class="list-unstyled mt-3 mx-3">
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Tiểu thuyết</a>
							</li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Truyện wibu</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="pb-3 row">
					<button
						class="collapsed d-flex justify-content-between h3 text-decoration-none border-0 bg-white col-12 me-0"
						type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
						aria-controls="collapseThree"> Giảm giá
						<!-- <i class="translate-middle badge rounded-pill bg-danger text-white me-5">Hot</i>  -->
						<i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i> </button>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						<ul class="list-unstyled mt-3 mx-3">
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Sách cũ</a></li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Khuyến mại</a></li>
							<li class=" border-bottom mb-3"><a class="text-decoration-none" href="#">Xả kho</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9">
			<div class="row">
				<div class="col-md-6">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Trang chủ</a></li>
							<li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Thể loại</a></li>
							<li class="breadcrumb-item active text-dark" aria-current="page">Sách</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-6 pb-4">
					<div class="d-flex">
						<select class="form-control" id="sort" ng-model="sapXep" ng-change="sapXepSanPham()">
							<option value="">Lọc</option>
							<option value="tang" class="" >Thấp -> Cao</option>
							<option value="giam" class="" >Cao -> Thấp</option>
							<option>Đánh giá</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row row-cols-2 row-cols-md-4">
				<div class="col-md-4"
					ng-repeat="sp in sanPham | filter:keyword |orderBy: sapxep| limitTo:phanTrang.gioiHan:(phanTrang.dangChon-1)*phanTrang.gioiHan">
					<div class="card border-2 mb-4 product-wap rounded-0">
						<div class="card rounded-0">
							<img class="card-img rounded-0 img-fluid" src="{{sp.hinh}}">
							<div
								class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
								<ul class="list-unstyled">
									<li><a class="btn btn-success text-white" href="#!shopSingle"><i
												class="far fa-heart"></i></a></li>
									<li><a class="btn btn-success text-white mt-2" href="#!shopSingle"><i
												class="far fa-eye"></i></a></li>
									<li><a class="btn btn-success text-white mt-2" data-bs-toggle="modal"
											data-bs-target="#exampleModal" ng-click="themGioHang(sp)"><i
												class="fas fa-cart-plus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-body">
							<a href="#!shopSingle" class="h3 text-decoration-none">{{sp.ten}}</a>
							<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
								<li class="text-muted">{{sp.hangMuc}}</li>
								<li class="pt-2">
									<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
									<span
										class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
									<span
										class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
									<span
										class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
									<span
										class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
								</li>
							</ul>
							<ul class="list-unstyled d-flex justify-content-between mb-1">
								<li>
									<i class="text-warning fa fa-star"></i>
									<i class="text-warning fa fa-star"></i>
									<i class="text-warning fa fa-star"></i>
									<i class="text-muted fa fa-star"></i>
									<i class="text-muted fa fa-star"></i>
								</li>
							</ul>
							<p class="mb-0">{{sp.gia}}đ</p>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="pagination pagination-lg justify-content-end">
					<li class="page-item">
						<a class="page-link text-success rounded-0 mr-3 shadow-sm border-top-0 border-left-0" ng-click="changePage(phanTrang.dangChon - 1)" ng-disabled="phanTrang.dangChon === 1" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" ng-repeat="trang in [].constructor(phanTrang.sotrang) track by $index">
						<button class="page-link text-success rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
								ng-class="{ 'active': $index + 1 === phanTrang.dangChon }"
								ng-click="phanTrang.dangChon = $index + 1">
							{{$index + 1}}
						</button>
					</li>
					<li class="page-item">
						<a class="page-link text-success rounded-0 mr-3 shadow-sm border-top-0 border-left-0" ng-click="changePage(phanTrang.dangChon + 1)" ng-disabled="phanTrang.dangChon === phanTrang.sotrang" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

</div>
</div>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
	<div class="container my-4">
		<div class="row text-center py-3">
			<div class="col-lg-6 m-auto">
				<h1 class="h1">Nhà tài trợ</h1>
				<p>
					Cảm ơn các nhà tài trợ đã góp phần làm cho website luôn hoạt động và phát triển
				</p>
			</div>
			<div class="col-lg-9 m-auto tempaltemo-carousel">
				<div class="row d-flex flex-row">
					<!--Controls-->
					<div class="col-1 align-self-center">
						<a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
							<i class="text-light fas fa-chevron-left"></i>
						</a>
					</div>
					<!--End Controls-->

					<!--Carousel Wrapper-->
					<div class="col">
						<div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
							data-bs-ride="carousel">
							<!--Slides-->
							<div class="carousel-inner product-links-wap" role="listbox">

								<!--First slide-->
								<div class="carousel-item active">
									<div class="row">
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_01.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_02.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_03.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_04.png"
													alt="Brand Logo"></a>
										</div>
									</div>
								</div>
								<!--End First slide-->

								<!--Second slide-->
								<div class="carousel-item">
									<div class="row">
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_01.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_02.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_03.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_04.png"
													alt="Brand Logo"></a>
										</div>
									</div>
								</div>
								<!--End Second slide-->

								<!--Third slide-->
								<div class="carousel-item">
									<div class="row">
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_01.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_02.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_03.png"
													alt="Brand Logo"></a>
										</div>
										<div class="col-3 p-md-5">
											<a href="#"><img class="img-fluid brand-img" src="img/brand_04.png"
													alt="Brand Logo"></a>
										</div>
									</div>
								</div>
								<!--End Third slide-->

							</div>
							<!--End Slides-->
						</div>
					</div>
					<!--End Carousel Wrapper-->

					<!--Controls-->
					<div class="col-1 align-self-center">
						<a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
							<i class="text-light fas fa-chevron-right"></i>
						</a>
					</div>
					<!--End Controls-->
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Brands-->